.nosotrxstitulo {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.historia {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.historia p {
  padding: 50px;
  text-align: center;
}

.historia h2 {
  align-self: center;
}

.historia img {
  display: flex;
  justify-content: left;
  margin: auto;
  width: 500px;
  height: auto;
  padding: 20px;
}

.composicioncoral {
  display: flex;
  justify-content: space-around;
}

.coro {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 10px;
  border: 2px solid hsl(290, 70%, 37%);
  padding: auto;
}

.coro h3 {
  grid-row: 1;
  margin-top: 20px;
  text-align: center;
  justify-self: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #add8e6;
  color: #ffffff;
}

.segundos_detalle {
  grid-column: 1;
  list-style-type: disc;
  padding: 0;
  text-align: center;
  justify-self: center;
  line-height: 3
}

.primxs_detalle {
  grid-column: 2;
  list-style-type: disc;
  padding: 0;
  text-align: center;
  justify-self: center;
  line-height: 2
}

.sobreprimxs_detalle {
  grid-column: 3;
  list-style-type: disc;
  padding: 0;
  text-align: center;
  justify-self: center;
  line-height: 3
}