footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: $text-color;
    width: 100%;
    padding: 0 20px;
  }
  
  .contacto,
  .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .contacto p,
  .redes p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .contacto a,
  .redes a {
    font-size: 24px;
    color: $text-color;
  }