@media (max-width: 600px) {

  //RESPONSIVO HEADER//

  header {
    height: 60px;
    padding: 0 10px;
  }

  header .logo img {
    width: 30px;
    height: 30px;
  }

  .menu-toggle {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
  }

  .menu-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url("../icon/bars-solid.svg") center center no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .menu-toggle:checked+.menu-icon {
    background: none;
  }

  .menu-toggle:checked+.menu-icon::before {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle:checked+.menu-icon::after {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .menu-toggle:checked~nav {
    display: block;
  }

  header nav {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #000000;
    z-index: 99;
    padding: 10px;
  }

  header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  header nav li {
    margin: 10px auto;
  }

  header nav a {
    font: $text-header;
    text-decoration: none;
  }

  //RESPONSIVO INDEX//

  .banner-image-horizontal {
    display: none;
  }

  .banner-image-vertical {
    display: block;
    width: 90%;
    height: auto;
    margin: 30px;
    max-height: 100vh;
  }

  // RESPONSIVO CONTACTO //

  .titulo-mobil {
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }

  div.info {
    grid-template-columns: 1fr;
  }

  div.info .map-container {
    grid-column: 1;
    grid-row: 4;
  }

  .contact .php-email-form .form-group {
    display: block;
    margin-bottom: 20px;
  }

  .contact .php-email-form label {
    text-align: left;
  }

  .contact .php-email-form input,
  .contact .php-email-form textarea {
    width: 100%;
  }

  //RESPONSIVO FECHAS // 

  .contenedor_fechas {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: auto;
    font-size: 18px;
  }

  .contenedor_fechas .fechas_futuras {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contenedor_fechas .fechas_futuras .lista_fechas {
    text-align: left;
    list-style-type: disc;
    padding: 10px
  }


  .contenedor_fechas .fechas_pasadas {
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .contenedor_fechas .fechas_pasadas .lista_pasadas {
    text-align: left;
    list-style-type: disc;
    padding: 10px
  }

  .imagen_fechas {
    display: flex;
    justify-self: center;
    height: 250px;
    width: auto;
  }



  //RESPONSIVO FOOTER//


  .contacto p,
  .redes p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contacto a,
  .redes a {
    font-size: 16px;
    color: $text-color;
  }

}

@media screen and (max-width: 900px) {

  //AJUSTE RESPONSIVO NOSOTRXS - HISTORIA//

  .nosotrxstitulo {
    text-align: center;
  }

  .historia {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .historia p {
    padding: 50px;
    text-align: justify;
  }

  .historia h2 {
    align-self: center;
    text-align: center;
  }

  .historia img {
    display: flex;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 550px) {

  //AJUSTE RESPONSIVO NOSOTRXS - CORO//

  .composicioncoral {
    display: flex;
    justify-content: space-around;
  }

  .coro {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid hsl(290, 70%, 37%);
    padding: auto;
  }

  .coro h3 {
    grid-row: 1;
    margin-top: 20px;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #add8e6;
    color: #ffffff;
  }

  .segundos_detalle {
    grid-column: 1;
    list-style-type: disc;
    padding: 0;
    align-self: center;
    text-align: center;
    justify-self: center;
    line-height: 3;
    list-style-type: none;
  }

  .primxs_detalle {
    grid-column: 2;
    list-style-type: disc;
    padding: 0;
    align-self: center;
    text-align: center;
    justify-self: center;
    list-style-type: none;
    line-height: 2
  }

  .sobreprimxs_detalle {
    grid-column: 3;
    list-style-type: disc;
    padding: 0;
    align-self: center;
    text-align: center; 
    justify-self: center;
    list-style-type: none;
    line-height: 3
  }

}